{% extends 'page1.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Department</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Edit Department</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Department Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ department.name }}" required>
            </div>

            <div class="form-group">
                <label for="sub">Department Role:</label>
                <input type="text" id="sub" name="sub" class="form-control" value="{{ department.sub }}" required>
            </div>

            <div class="form-group">
                <label for="about">About (Upload File):</label>
                <input type="file" id="about" name="about" class="form-control-file">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
    </div>
    <br><br><br><br>
</body>
</html>
{% endblock %}
